// Variables
@import "partials/variables";

// Bootstrap
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

// Font-Awesome
@import "bower_components/fontawesome/scss/font-awesome";

// Custom Fonts
@font-face {
  font-family: clash;
  src: url('/assets/fonts/cc.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/cc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/cc.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/cc.ttf')  format('truetype'); /* Safari, Android, iOS */
}

// Partials
@import "partials/main";
@import "partials/dashboard";
@import "partials/current-war";
