// ------------------------------ TIMER ------------------------------ //

.timer {
  font-size: 1.5em;
  color: $brand-red;
}

// ------------------------------ SCORE ------------------------------ //

.score {
  padding-bottom: 20px;

  .aa-score, .op-score {
    font-family: clash, Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: $brand-primary;
  }
}

// ------------------------------ TABLE ------------------------------ //

.current-war {
  font-size: 1.1em;

  .clan-name {
    color: $brand-secondary;
  }

  .war-player-row {
    border-top: 1px solid #ddd;
  }

  .war-player-row:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .stars {
    text-align: right;
    line-height: 50px;
  }

  .target {
    text-align: left;
    line-height: 50px;
    font-family: clash, Arial, Helvetica, sans-serif;
    font-size: 1.2em;

    .target-number {
      font-weight: 500;
      padding-right: 10px;
    }

    .target-name {
      color: $brand-primary;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
  }

  .attacker {
    padding: 0;

    .attacker-name {
      font-family: clash, Arial, Helvetica, sans-serif;
      color: $brand-primary;
      font-size: 0.8em;
    }
  }

  .add-attacker {
    margin-top: 12px;
    font-size: 1.2em;
    padding: 0 5px;
  }
}
