// ------------------------------ PANELS ------------------------------ //

.huge {
  font-size: 50px;
  font-weight: 200;
}

.panel-green {
  border-color: $brand-green;
}

.panel-green .panel-heading {
  border-color: $brand-green;
  color: #fff;
  background-color: $brand-green;
}

.panel-green a {
  color: $brand-green;
}

.panel-green a:hover {
  color: $brand-green;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red .panel-heading {
  border-color: $brand-red;
  color: #fff;
  background-color: $brand-red;
}

.panel-red a {
  color: $brand-red;
}

.panel-red a:hover {
  color: $brand-red;
}

.panel-yellow {
  border-color: $brand-yellow;
}

.panel-yellow .panel-heading {
  border-color: $brand-yellow;
  color: #fff;
  background-color: $brand-yellow;
}

.panel-yellow a {
  color: $brand-yellow;
}

.panel-yellow a:hover {
  color: $brand-yellow;
}

// ------------------------------ CURRENT WAR ------------------------------ //

.current-war {
text-align: center;
min-height: 150px;
}
