@import 'variables';

// ------------------------------ DOM ------------------------------ //

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: auto;
}

h1 {
  font-family: clash, Arial, Helvetica, sans-serif;
  text-align: center;
}

// ------------------------------ NAVBAR ------------------------------ //

.navbar {
  background-color: $brand-secondary;

  .navbar-logo {
    padding: 10px;

    img {
      width: 200px;
    }
  }
}

.navbar-default .navbar-nav > li > a {
  color: #eee;
}
