@import 'variables';

// ------------------------------ DOM ------------------------------ //

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: auto;
}

h1 {
  font-family: clash, Arial, Helvetica, sans-serif;
  text-align: center;
}

h4 {
  margin: 20px;
}

// ------------------------------ NAVBAR ------------------------------ //

.navbar-static-top {
  background-color: $brand-secondary;

  .navbar-logo {
    padding: 10px;

    img {
      width: 200px;
    }
  }

  .navbar-nav > li > a {
    color: #eee;
  }
}

// ------------------------------ LOADING ------------------------------ //

.spin-js {
  position: relative;
}

// ------------------------------ ICONS ------------------------------ //

.fa-padded {
  padding: 10px;
}

// ------------------------------ MODALS ------------------------------ //

.modal-title {
  font-family: clash, Arial, Helvetica, sans-serif;
  text-align: center;
}

.modal-body {

  .control-label {
    font-weight: 400;
  }

  .short-label {
    padding: 0 15px;
  }

  .radio-label {
    text-align: left;
    padding-left: 10px;
  }

  button.dropdown-toggle {
    width: 119px;
  }

  .dropdown-menu {
    min-width: 119px;
  }
}
