<div>
  <h1>Adult Assassins <span class="small">vs</span> Alee Utoo</h1>

  <div class="timer">
    <i class="fa fa-clock-o"></i>
    {{#if currentWarTimer}}
      {{displayTimer}}
    {{else}}
      enter timer
    {{/if}}
    {{#if warEnded}}
      {{warResult}}
    {{/if}}
  </div>

  <div class="score">
    <span class="aa-score">95</span>
    <i class="fa fa-minus fa-2x"></i>
    <span class="op-score">98</span>
  </div>

  <div class="container current-war">
    <div class="row dark-row">
      <div class="col-sm-1 stars">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="col-sm-3 target">
        <span class="target-number">1. </span>
        <span class="target-name">am.botak</span>
      </div>
      <div class="col-sm-2 attacker">
        <span class="player-name">tmwellma</span>
        <br/>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </div>

    <div class="row light-row">
      <div class="col-sm-1 stars">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="col-sm-3 target">
        <span class="target-number">2. </span>
        <span class="target-name">ame</span>
      </div>
      <div class="col-sm-2 attacker">
        <span class="player-name">tmwellma</span>
        <br/>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </div>

    <div class="row dark-row">
      <div class="col-sm-1 stars">
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="col-sm-3 target">
        <span class="target-number">3. </span>
        <span class="target-name">yutta</span>
      </div>
      <div class="col-sm-2 attacker">
        <span class="player-name">Chickenpox</span>
        <br/>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="col-sm-2 attacker">
        <span class="player-name">Firestorm</span>
        <br/>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="col-sm-2 attacker">
        <span class="player-name">Firestorm</span>
        <br/>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="col-sm-2 attacker">
        <span class="player-name">Firestorm</span>
        <br/>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </div>
  </div>
</div>
