{{#bootstrap-modal
  formClass="form-horizontal"
  close="close"
  submitBtnTitle="Add Attacker"
  okBtnTitle="Cancel"
  title=modalTitle
  fade=true
  submitBtnClass="btn-primary"
  submit="submit"}}

  {{#if errors.length}}
    <div class="alert alert-danger">
      <p><strong>Errors:</strong></p>
      <ul>
        {{#each error in errors}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <div class="form-group">
    <label for="attackerName" class="col-sm-4 control-label">Attacker name:</label>
    <div class="col-sm-6">
      {{attacker-input placeHolderText="attacker" miniumCharLength=1 debounceTime=200 selectedFunction="selectAttacker" typeaheadId="attackerName" attackersList=attackersList selectedWarPlayer=selectedWarPlayer}}
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-4 control-label">Score:</label>
    <div class="col-sm-6">
      {{btn-group items=scores selectedItem=selectedScore}}
    </div>
  </div>
{{/bootstrap-modal}}
